<section id="calc" class="calc">
    <div class="calc__container">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="gallery__header header-1 pb-1 text-center text-uppercase text-orange">
                        Получите за 1 минуту расчет стоимости <br>
                        остекления и/или утепления балкона
                    </div>
                    <div class="text-center calc__header-before">+ подарок за прохождение расчета</div>
                </div>
            </div>
        </div>
        <div class="interrogation-container">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-10 offset-1">
                    <div class="row interrogation-bg">
                        <div class="col-md-6">
                            <div class="interrogation__title">Какой у вас тип балкона</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="interrogation__item">
                                        <div class="interrogation__item-img">
                                            <img class="img-fluid" src="img/interrogation__img-1.png" alt="">
                                        </div>
                                        <div class="interrogation__item-name">Классический балкон</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="interrogation__item">
                                        <div class="interrogation__item-img">
                                            <img class="img-fluid" src="img/interrogation__img-1.png" alt="">
                                        </div>
                                        <div class="interrogation__item-name">Классический балкон</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="interrogation__item">
                                        <div class="interrogation__item-img">
                                            <img class="img-fluid" src="img/interrogation__img-1.png" alt="">
                                        </div>
                                        <div class="interrogation__item-name">Классический балкон</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="interrogation__item">
                                        <div class="interrogation__item-img">
                                            <img class="img-fluid" src="img/interrogation__img-1.png" alt="">
                                        </div>
                                        <div class="interrogation__item-name">Классический балкон</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="h-100 d-flex align-items-center justify-content-center flex-column">
                                <div class="interrogation__list">
                                    <img style="max-height: 250px" class="img-fluid" src="img/interrogation__list.png" alt="">
                                </div>
                                <div class="interrogation__status-container">
                                    <div class="interrogation__status position-relative">
                                        <span style="position: relative; z-index: 55">1/4</span>
                                        <div class="interrogation__status-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>