<meta charset="UTF-8">

<!-- Useful meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Мечтаете о теплом балконе? Утепление балкона или лоджии позволит увеличить полезную площадь в вашей квартире и использовать ее круглый год не как кладовку для хранения старых вещей, а как место отдыха и релаксации. Ваша квартира станет больше, теплее и экологичнее, потому что правильное утепление балкона снижает теплопотери. Наша компания применяет различные способы утепления балконов и лоджий, в зависимости от ваших пожеланий и нужного результата.">
<meta name="keywords" content="Ремонт, Балкон, Остекление, Утепление, Замерка, Отопление">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<!--<meta name="format-detection" content="telephone=no">-->

<link href="css/main.css" rel="stylesheet" />

<title>Rio-Dom.ru - раз и навсегда забудьте о потере тепла!</title>