<section class="include-price" id="include-price">
    <div class="include-price__container">
        <div class="include-price__inner">
            <div class="w-100">
                <div class="include-price__title">
                    <span class="d-block d-md-inline">КАКИЕ У НАС</span>
                    <span class="d-block d-md-inline">ПРЕИМУЩЕСТВА?</span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="offset-1 col-md-10">
                            <div class="row">
                                <div class="col-md d-flex align-content-center">
                                    <div class="include-price__item">
                                        <div class="include-price__header header-2">Устраняем неплотности и другие мостики холода:</div>
                                        <div class="include-price__content">
                                            <ul class="pl-0">
                                                <li>При утеплении балконов и лоджий жестко следуем ГОСТам и СНиПам</li>
                                                <li>Монтаж по собственной технологии</li>
                                                <li>Обязательная проклейка окружающей мембраны, для предотвращения конденсата и сохранения тепла</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md d-flex align-content-center">
                                    <div class="include-price__item">
                                        <div class="include-price__header header-2">Выполним отделочные работы:</div>
                                        <div class="include-price__content">
                                            <ul class="pl-0">
                                                <li>Декоративные элементы (встроенные ниши, полочки, элементы дизайна, встроеная мебель, декорирование)</li>
                                                <li>Высококачественная отделка из любых материалов</li>
                                                <li>Проведем электрику</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md d-flex align-content-center">
                                    <div class="include-price__item">
                                        <div class="include-price__header header-2">Сделаем отопление под технические условия:</div>
                                        <div class="include-price__content">
                                            <ul class="pl-0">
                                                <li>Электрические теплые полы</li>
                                                <li>Инфракрасные теплые полы</li>
                                                <li>Электрические конвертеры</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="include-price__house d-none d-md-block">-->
<!--            <img src="img/include-price__house-after.png" alt="">-->
<!--        </div>-->
    </div>
</section>