<section class="reviews">
    <div class="reviews__container">
        <div class="row mb-1">
            <div class="col-md-10 offset-1 col-10">
                <div class="reviews__title-before">
                    НО БУДЬТЕ ВНИМАТЕЛЬНЫ ПЕРЕД ТЕМ КАК ДОВЕРИТЬ ВАШ УЮТ СТОРОННЕЙ КОМПАНИИ!
                </div>
            </div>
        </div>
        <div class="mb-1 reviews__title text-uppercase text-center" style="font-size: 1.2em; color: #a0a0a0;">
            вы можете получить еще больше проблем если будете работать не с профессионалами
        </div>

        <div class="row pt-4 mb-5">
            <div class="col-md-8 offset-md-2 offset-1 col-10">
                <div class="row text-nowrap">
                    <div class="col-md-3 pt-2 pt-md-0 col-6">
                        <div class="trouble-item">
                            <div class="trouble-item__header">КОНДЕНСАТ НА ОКНАХ</div>
                            <img src="img/trouble__img-1.png" class="img-fluid trouble-item__image">
                        </div>
                    </div>
                    <div class="col-md-3 pt-2 pt-md-0 col-6">
                        <div class="trouble-item">
                            <div class="trouble-item__header">плесень и грибок</div>
                            <img src="img/trouble__img-2.png" class="img-fluid trouble-item__image">
                        </div>
                    </div>
                    <div class="col-md-3 pt-2 pt-md-0 col-6">
                        <div class="trouble-item">
                            <div class="trouble-item__header">сквозняк и продувания</div>
                            <img src="img/trouble__img-3.png" class="img-fluid trouble-item__image">
                        </div>
                    </div>
                    <div class="col-md-3 pt-2 pt-md-0 col-6">
                        <div class="trouble-item">
                            <div class="trouble-item__header">налет на окнах</div>
                            <img src="img/trouble__img-4.png" class="img-fluid trouble-item__image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-1 col-10">
                <div class="reviews__title-before">
                    ИМЕННО ПОЭТОМУ МЫ БОЛЕЕ 6-ТИ ЛЕТ ЗАНИМАЕМСЯ УТЕПЛЕНИЕМ И ОСТЕКЛЕНИЕМ БАЛКОНОВ ПО СОБСТВЕННОЙ ТЕХНОЛОГИИ!
                </div>
            </div>
        </div>
        <div id="objects" class="reviews__title text-center" style="font-size: 1.2em; color: #a0a0a0;">
            Посмотрите наши последние объекты
        </div>
        <div class="reviews__items container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-12">
                    <div class="reviews__swiper swiper-container swiper-container-initialized swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-12">
                                        <img src="img/review__balcon-1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="reviews__item-container">
                                            <div class="reviews__content text-center">
                                                Что-то о балконе который на фото, например о том что он красивый, или о том что он балкон!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-12">
                                        <img src="img/review__balcon-1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="reviews__item-container">
                                            <div class="reviews__content text-center">
                                                Что-то о балконе который на фото, например о том что он красивый, или о том что он балкон!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-12">
                                        <img src="img/review__balcon-1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="reviews__item-container">
                                            <div class="reviews__content text-center">
                                                Что-то о балконе который на фото, например о том что он красивый, или о том что он балкон!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="d-none d-md-flex swiper-pagination"></div>-->
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>